# linguist overrides
*.md linguist-documentation=false
*.snap binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.mp4 binary
*.webm binary
*.zip binary
*.crx binary
*.xpi binary
